    {{>header}}
    <main>
        <div>
        <input type="text" id="location-input">
        <button id="btn">Submit</button></div>
        <section id="locationparams" class="hide">
    <h1 id="location"><span id="location-name"></span>, <span id="location-region"></span></h1>
    <h3>Temperature is <span id="current-temperature"></span>°F, but feels like <span id="current-feelslike"></span>°F</h3>
    <span id="current-description"></span>
    </section>
    </main>
    {{>footer}}